        <header>
            <nav>
                <img src="../../public/images/car-logo.png" class="logo" alt="">
                <div class="menu">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Features</a>
                    <a href="#">Variations</a>
                    <a href="#">Specials</a>
                    <a href="#">Contact</a>
                </div>

                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    
                </div>
            </nav>
        </header>

        <div class="hero">

            <div class="text">
                <h4>Powerful, Fun and</h4>
                <h1>Fierce to <br> <span>Drive</span></h1>
                <p>Real Power, Real Performance.</p>
                <a href="#" class="btn">book a test drive</a>
            </div>
        </div>

        <script src="script.js" async defer></script>