

<!-- This is where all listed inventory items go -->

        <div class="hero">
            <div class="text">
                <h4>Powerful, Fun and</h4>
                <h1>Fierce to <br> <span>Drive</span></h1>
                <p>Real Power, Real Performance.</p>
                <h2>Scroll down to find your new hot ride, from real people</h2>
            </div>
        </div>
        <!-- Cards here -->
         {{#each inventory as |post|}}
            {{> inventory-details}}
        {{/each}}
        <script src="script.js" async defer></script>