        
<!-- Cards here -->
        <div class="hero">
            <div class="text">
                <h4>Powerful, Fun and</h4>
                <h1>Fierce to <br> <span>Drive</span></h1>
                <p>Real Power, Real Performance.</p>
                <a href="#" class="btn">book a test drive</a>
            </div>
        </div>
        {{#each inventory}}
        <script src="script.js" async defer></script>