<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../public/css/style.css">
        <link rel="stylesheet" href="../../public/css/wrx.css">
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />

    </head>
    <body>
       


        <header>
            <nav>
                <img src="../../public/images/car-logo.png" class="logo" alt="">
                <div class="menu">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Features</a>
                    <a href="#">Variations</a>
                    <a href="#">Specials</a>
                    <a href="#">Contact</a>
                </div>

                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    
                </div>
            </nav>
        </header>

        <div class="img-container">
            <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="../../public/images/AFVrjWlm012.NqcRzyqLN.jpg"></div>
                  <div class="swiper-slide"><img src="../../public/images/images (7).jpg"></div>
                  <div class="swiper-slide"><img src="../../public/images/1999-Chevrolet-Impala-Sedan-Image-i01-1024.jpg"></div>
                  <div class="swiper-slide"><img src="../../public/images/1996_chevrolet_impala-pic-44453-640x480.jpeg"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
        </div>

        <div class="details">
            <div class="product-title">1999 Chevrolet Impala SS</div>
              <div class="product-price">$40,000</div>
              <div class="miles">Miles 677</div>
              <div class="product-description" id="chevroletDescription">
                Step into the timeless allure of our used 1999 Impala SS, where classic style meets enduring performance. This sedan, a true relic of automotive history, exudes a distinctive charm with its sleek design. Inside, the well-loved interior carries a sense of nostalgia, combining comfort with a touch of vintage flair. Powered by a robust engine, the 1999 Impala SS ensures a journey that echoes the grandeur of its era. Embrace the character and charisma of this classic ride—a testament to enduring style and the joy of cruising through time. Your nostalgic adventure begins with the 1999 Impala SS. 
              </div>
            </div>
          </div>


          <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


          <script>
              const swiper = new Swiper('.swiper', {
    // Optional parameters
    
    loop: true,
  
    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  
    
  });
  
  
              
          
          </script>
  
          <script src="" async defer></script>
      </body>
  </html>