<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../public/css/style.css">
        <link rel="stylesheet" href="../../public/css/wrx.css">
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />

    </head>
    <body>
       


        <header>
            <nav>
                <img src="../../public/images/car-logo.png" class="logo" alt="">
                <div class="menu">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Features</a>
                    <a href="#">Variations</a>
                    <a href="#">Specials</a>
                    <a href="#">Contact</a>
                </div>

                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    
                </div>
            </nav>
        </header>

        <div class="img-container">
            <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="../../public/images/2020-subaru-outback-touring-2p5l-103-1578936312.jpg"></div>
                  <div class="swiper-slide"><img src="../../public/images/images (2).jpg"></div>
                  <div class="swiper-slide"><img src="../../public/images/b4fec686a38ae1affe4cf085192234dc.jpg"></div>
                  <div class="swiper-slide"><img src="../../public/images/technology_mast_2.jpg"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
        </div>

        <div class="details">
            <div class="product-title">2020 Subaru Outback</div>
            <div class="product-price">$23,675</div>
            <div class="miles">Miles 30,001</div>
            <div class="product-description">
                Unleash the spirit of adventure with our privately-owned 2020 Subaru Outback! This meticulously cared-for SUV is not just a vehicle; it's a trusted companion that's ready to embark on new journeys with its next proud owner.

                With a striking exterior that showcases its rugged elegance, this Outback has been a reliable partner for both city commutes and off-road escapades. The symmetrical all-wheel-drive system ensures a smooth and confident ride, while the spacious interior offers comfort for both driver and passengers.
                
                Inside, you'll find a haven of modern conveniences and cutting-edge technology. The intuitive infotainment system keeps you connected, and the advanced safety features provide peace of mind on every drive.
                
                This privately-owned Outback comes with a rich history of memories and adventures, making it more than just a car—it's a storyteller of roads traveled and destinations discovered. With a well-maintained engine and a commitment to performance, it's ready for its next chapter.
                
                Seize the opportunity to own a reliable and stylish SUV that's been cherished by its current owner. The 2020 Subaru Outback is not just a vehicle; it's an invitation to create your own unforgettable experiences on the road.
          </div>
        </div>




        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


        <script>
            const swiper = new Swiper('.swiper', {
  // Optional parameters
  
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  
});


            
        
        </script>

        <script src="" async defer></script>
    </body>
</html>