<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../public/css/style.css">
        <link rel="stylesheet" href="../../public/css/wrx.css">
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />

    </head>
    <body>
       


        <header>
            <nav>
                <img src="../../public/images/car-logo.png" class="logo" alt="">
                <div class="menu">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Features</a>
                    <a href="#">Variations</a>
                    <a href="#">Specials</a>
                    <a href="#">Contact</a>
                </div>

                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    
                </div>
            </nav>
        </header>

        <div class="img-container">
            <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="../../public/images/rMkD4dJG-5yCd3772oM-(edit).jpg"></div>
                  <div class="swiper-slide"><img src="../../public/images/o0qe695vbv981.jpg"></div>
                  <div class="swiper-slide"><img src="../../public/images/images (3).jpg"></div>
                  <div class="swiper-slide"><img src="../../public/images/M01qEnm.jpg"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
        </div>

        <div class="details">
            <div class="product-title">1997 RX-7 FD</div>
              <div class="product-price">$30,337</div>
              <div class="miles">Miles 12,106</div>
              <div class="product-description">
                Rev up your passion for driving with our privately-owned Mazda RX-7, a true sports car icon that's ready to ignite the thrill of the open road! This RX-7 is not just a car; it's a statement of performance, style, and the pure joy of driving.

Draped in a sleek and timeless exterior, this RX-7 is a head-turner that combines aerodynamics with a touch of aggressive elegance. The rotary engine under the hood delivers a symphony of power, making every drive an exhilarating experience that true automotive enthusiasts crave.

Inside the cockpit, you'll find a driver-focused environment that speaks to the essence of sports car design. The RX-7's nimble handling, responsive steering, and well-crafted interior create an immersive driving experience that connects you to the road.

This privately-owned RX-7 comes with a history of spirited drives and meticulous care. It's more than a car; it's a testament to the passion for performance driving. The well-maintained engine and unique rotary charm make it a sought-after gem for those who appreciate the art of driving.

Seize the opportunity to own a piece of automotive history—the Mazda RX-7 invites you to embrace the thrill of the road and the timeless allure of rotary-powered performance. It's not just a car; it's a celebration of driving excellence waiting for its next chapter.
              </div>
            </div>
          </div>



          <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


          <script>
              const swiper = new Swiper('.swiper', {
    // Optional parameters
    
    loop: true,
  
    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  
    
  });
  
  
              
          
          </script>
  
          <script src="" async defer></script>
      </body>
  </html>